<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zwb.cn.social" >


    <application
        android:name="zwb.cn.exception.CrashApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="zwb.cn.mvp.view.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="zwb.cn.mvp.view.ResignActivity" />
        <activity android:name="zwb.cn.mvp.view.LoginActivity" />
        <activity android:name="zwb.cn.mvp.view.MyFriendsListActivity" />
        <activity android:name="zwb.cn.mvp.view.AddFriendsActivity" />
        <activity android:name="zwb.cn.mvp.view.FriendsBaseInfoActivity" />
        <activity android:name="zwb.cn.mvp.view.FriendsManagerActivity" />
        <activity
            android:name="zwb.cn.mvp.view.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>
